<h2>Edit solution</h2>

<%= render "form.html", changeset: @changeset,
                        action: solution_path(@conn, :update, @solution) %>

<%= link "Back", to: solution_path(@conn, :index) %>
