<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"><head><title>Online Technical Interviews and Recruitment Software | Interview Zen</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/><meta name="description"
                                                                              content="Find the best developers with Interview Zen. Take the stress out of screening for talent. Get started today."/><link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon"><link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
          </head>
  <body>
      <div class="container">
        <!-- <header class="header">
             <nav role="navigation">
             <ul class="nav nav-pills pull-right">
             <li><a href="http://www.phoenixframework.org/docs">Get Started</a></li>
             </ul>
             </nav>
             <span class="logo"></span>
             </header>
           -->
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <div id="footer" class="page">
        <p>&copy; 2017 Interview Zen</p>
        <ul>
            <li>
                <a href="mailto:support@interviewzen.com">support@interviewzen.com</a>
            </li>
        </ul>
        <div class="clear"></div>
    </div>
  </body>
</html>
