<div id="header"><div class="page"><!--[if lt IE 7]><p class="chromeframe ie6">Sorry, we don't support Internet Explorer 6! Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p><![endif]--><a href="/" class="logo">Interview Zen</a><ul><li class=""><a href="/" id="home">Home</a></li><li class=""><a href="/create/">Create an
    Interview</a></li></ul><div class="clear"></div></div></div><div id="page"><div class="top"></div><div class="content"><div class="header page"><h1>Dashboard</h1></div><div id="dashboard" class="padding"><div id="dashboard_info"><p>This is your interview dashboard. When a candidate completes an interview, their response will automatically show up below. Share this page with colleagues and evaluate responses together.</p><p><b>Invite candidates by sending them your interview link or add it to a job posting and let them come to you.</b></p><p><b>Interview link:</b><span class="highlight_light">


    <a href="/apply/<%= @interview.name %>">http://localhost:4000/apply/<%= @interview.name %></a>

    </span></p></div><div id="responses"><div class="section_title"><h3>Responses</h3></div><p>No responses yet. Start by sending the interview link above to your candidates.</p><div class="clear"></div></div></div></div><div class="bottom"></div></div><div id="footer" class="page"><p>&copy; 2017 Interview Zen</p><ul><li><a href="mailto:support@interviewzen.com">support@interviewzen.com</a></li></ul><div class="clear"></div></div>
